# **Business Problem Understanding**

1. Buat Database di PostgreSQL & Ambil Data via Python

* Siapkan dataset CSV
* Gunakan Python + psycopg2 untuk:

  * Koneksi ke PostgreSQL

  * Query data kembali ke Python (pandas dataframe).

  berikut code menggunakan psycopg2 + pandas

In [3]:
!pip install psycopg2
!pip install pandas

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.12/dist-packages (2.9.10)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [11]:
import psycopg2
import pandas as pd

# Koneksi ke PostgreSQL
conn = psycopg2.connect(
    dbname="defaultdb",
    user="avnadmin",
    password="AVNS_VpqImPpZAlNzgDMQvOp",
    host="irispostgresql-2739-irispostgresql-2739.l.aivencloud.com",
    port="15320"
)

# Ambil data dari tabel iris
query = "SELECT * FROM \"irispostgresql-2739\".irispostgresql"
df = pd.read_sql(query, conn)

conn.close()

# Lihat 5 baris pertama
print(df.head())

/tmp/ipython-input-1666361516.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   id        Class  sepal length  sepal width
0   2  Iris-setosa           4.9          3.0
1   3  Iris-setosa           4.7          3.2
2   4  Iris-setosa           4.6          3.1
3   5  Iris-setosa           5.0          3.6
4   6  Iris-setosa           5.4          3.9

# **2. Eksplorasi Data (Data Understanding)**

Setelah data sudah diambil ke pandas dataframe, lakukan eksplorasi:

a. Tipe Data

In [13]:
print(df.dtypes)

id                int64
Class            object
sepal length    float64
sepal width     float64
dtype: object

b. Kualitas Data

1. Missing Values

In [14]:
print(df.isnull().sum())

id              0
Class           0
sepal length    0
sepal width     0
dtype: int64

2. Outlier Analysis (IQR)

In [16]:
Q1 = df['sepal length'].quantile(0.25)
Q3 = df['sepal length'].quantile(0.75)
IQR = Q3 - Q1
outliers = df[(df['sepal length'] < Q1 - 1.5*IQR) |
                       (df['sepal length'] > Q3 + 1.5*IQR)]
print(outliers)

     id        Class  sepal length  sepal width
149   1  Iris-setosa          20.1         30.5

3. Konsistensi Data (cek duplikat / nilai aneh)

In [19]:
print(df.duplicated().sum())  # cek duplikat
print(df['Class'].unique()) # cek kategori konsisten

0
['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

4. Distribusi Data / Statistik

In [20]:
print(df.describe())

               id  sepal length  sepal width
count  150.000000    150.000000   150.000000
mean    75.500000      5.943333     3.234000
std     43.445368      1.426895     2.282464
min      1.000000      4.300000     2.000000
25%     38.250000      5.100000     2.800000
50%     75.500000      5.800000     3.000000
75%    112.750000      6.400000     3.300000
max    150.000000     20.100000    30.500000